<!DOCTYPE html>
<html ng-app="directiveMadness">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directive Madness</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 

    <link rel="stylesheet" href="css/stylesheet.css">
  </head>
  <body ng-controller="warmupCtrl">

    <main-nav></main-nav>

    <div class="container">
    
      <main-header>Warmups</main-header>

      <p colorize color="white" background="green">Colored Text</p>

      <p ng-show="!radioButtons"> No button is selected! </p>
      <p ng-hide="!radioButtons">{{radioButtons}}!</p>
      <p ng-show="radioButtons % 2 === 1"> Number is odd! </p>
      <p ng-hide="radioButtons % 2 !== 0"> Number is even!</p>

      <form>
        <input type="radio" name="number" value="1" ng-model="radioButtons">
        <input type="radio" name="number" value="2" ng-model="radioButtons">
        <input type="radio" name="number" value="3" ng-model="radioButtons">
        <input type="radio" name="number" value="4" ng-model="radioButtons">
        <input type="radio" name="number" value="5" ng-model="radioButtons">
      </form>      
    
    </div>
    
    <copyright>Apple Computer</copyright>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/warmups.js"></script>

  </body>
</html>